In [16]:
import pandas as pd

In [20]:
import pytest
from sqlalchemy import create_engine
import oracledb

In [18]:
pip install oracledb

Defaulting to user installation because normal site-packages is not writeable
Collecting oracledb
  Downloading oracledb-3.3.0-cp313-cp313-win_amd64.whl.metadata (6.9 kB)
Collecting cryptography>=3.2.1 (from oracledb)
  Downloading cryptography-45.0.7-cp311-abi3-win_amd64.whl.metadata (5.7 kB)
Requirement already satisfied: cffi>=1.14 in c:\users\dell\appdata\roaming\python\python313\site-packages (from cryptography>=3.2.1->oracledb) (1.17.1)
Requirement already satisfied: pycparser in c:\users\dell\appdata\roaming\python\python313\site-packages (from cffi>=1.14->cryptography>=3.2.1->oracledb) (2.22)
Downloading oracledb-3.3.0-cp313-cp313-win_amd64.whl (1.8 MB)
   ---------------------------------------- 0.0/1.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.8 MB ? eta -:--:--
   ----- ---------------------------------- 0.3/1.8 MB ? eta -:--:--
   ----------- ---------------------------- 0.5/1.8 MB 1.3 MB/s eta 0:00:02
   ----------- ---------------------------- 0.5/1.8 MB 1.3 MB/s eta 0:00:02
   ----------------- ---------------------- 0.8/1.8 MB 1.0 MB/s eta 0:00:01
   ----------------------- ---------------- 1.0/1.8 MB 1.0 MB/s eta 0:00:01
   ----------------------------- ---------- 1.3/1.8 MB 1.1 MB/s eta 0:00:01
   ----------------------------------- ---- 1.6/1.8 MB 1.1 MB/s eta 0:00:01
   ----------------------------------- ---- 1.6/1.8 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------- 1.8/1.8 MB 1.0 MB/s  0:00:01
Downloading cryptography-45.0.7-cp311-abi3-win_amd64.whl (3.4 MB)
   ---------------------------------------- 0.0/3.4 MB ? eta -:--:--
   --- ------------------------------------ 0.3/3.4 MB ? eta -:--:--
   ------ --------------------------------- 0.5/3.4 MB 1.5 MB/s eta 0:00:02
   ------------ --------------------------- 1.0/3.4 MB 2.0 MB/s eta 0:00:02
   ------------------ --------------------- 1.6/3.4 MB 2.2 MB/s eta 0:00:01
   --------------------- ------------------ 1.8/3.4 MB 2.2 MB/s eta 0:00:01
   --------------------------- ------------ 2.4/3.4 MB 1.9 MB/s eta 0:00:01
   ------------------------------ --------- 2.6/3.4 MB 1.8 MB/s eta 0:00:01
   --------------------------------- ------ 2.9/3.4 MB 1.8 MB/s eta 0:00:01
   ---------------------------------------- 3.4/3.4 MB 1.8 MB/s  0:00:01
Installing collected packages: cryptography, oracledb

   ---------------------------------------- 0/2 [cryptography]
   ---------------------------------------- 0/2 [cryptography]
   ---------------------------------------- 0/2 [cryptography]
   ---------------------------------------- 0/2 [cryptography]
   ---------------------------------------- 0/2 [cryptography]
   ---------------------------------------- 0/2 [cryptography]
   ---------------------------------------- 0/2 [cryptography]
   ---------------------------------------- 0/2 [cryptography]
   ---------------------------------------- 0/2 [cryptography]
   -------------------- ------------------- 1/2 [oracledb]
   -------------------- ------------------- 1/2 [oracledb]
   -------------------- ------------------- 1/2 [oracledb]
   -------------------- ------------------- 1/2 [oracledb]
   -------------------- ------------------- 1/2 [oracledb]
   ---------------------------------------- 2/2 [oracledb]

Successfully installed cryptography-45.0.7 oracledb-3.3.0
Note: you may need to restart the kernel to use updated packages.

In [21]:
engine = create_engine("oracle+oracledb://system:newpassword@localhost:1521/XE")

In [23]:
df = pd.read_sql("select * from city",engine)

In [24]:
df

     id       name
0     1     Delhi1
1     2  Bangalore
2   110     Jaipur
3   100    Kolkata
4     3       Pune
5     4     Mumbai
6   101     Indore
7     8        Goa
8     9     Kanpur
9   120     Bhopal
10   11       Pune