In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Sales.csv")

In [6]:
df['total_sales_amount'] = df["Price"]*df["Quantity"]

In [17]:
expected_df = df.groupby('CustomerID')['total_sales_amount'].sum().round(2).reset_index()

In [14]:
expected_df

    CustomerID  total_sales_amount
0            1             2399.90
1            2             3419.86
2            4              399.96
3            5             3149.87
4            6             2099.97
5            7              799.94
6            8             1649.92
7            9              119.96
8           11              899.99
9           12             1199.98
10          14              399.96
11          16              249.99
12          17              399.98
13          18              149.97
14          20              649.95
15          21              899.99
16          22             1199.98
17          23              599.97
18          24              399.96
19          26              249.99
20          27              399.98
21          29              119.96
22          30              649.95
23          33              599.97
24          34              399.96
25          35             1499.95
26          36              249.99
27          37              399.98
28          38              149.97
29          39              119.96
30          40              649.95
31          41              899.99
32          42             1199.98
33          43              599.97
34          46              249.99
35          47              399.98
36          48              149.97
37          49              119.96
38          50              649.95

In [15]:
df

    CustomerID        Date     Product   Price  Quantity  total_sales_amount
0            1  2023-01-01  Smartphone  899.99         1              899.99
1            2  2023-01-02      Laptop  599.99         2             1199.98
2            1  2023-01-03      Tablet  199.99         3              599.97
3            4  2023-01-04  Headphones   99.99         4              399.96
4            5  2023-01-05      Camera  299.99         5             1499.95
5            1  2023-01-06  Smartwatch  249.99         1              249.99
6            7  2023-01-07     Monitor  199.99         2              399.98
7            8  2023-01-08    Keyboard   49.99         3              149.97
8            9  2023-01-09       Mouse   29.99         4              119.96
9            1  2023-01-10     Printer  129.99         5              649.95
10          11  2023-01-11  Smartphone  899.99         1              899.99
11          12  2023-01-12      Laptop  599.99         2             1199.98
12           2  2023-01-13      Tablet  199.99         3              599.97
13          14  2023-01-14  Headphones   99.99         4              399.96
14           2  2023-01-15      Camera  299.99         5             1499.95
15          16  2023-01-16  Smartwatch  249.99         1              249.99
16          17  2023-01-17     Monitor  199.99         2              399.98
17          18  2023-01-18    Keyboard   49.99         3              149.97
18           2  2023-01-19       Mouse   29.99         4              119.96
19          20  2023-01-20     Printer  129.99         5              649.95
20          21  2023-01-21  Smartphone  899.99         1              899.99
21          22  2023-01-22      Laptop  599.99         2             1199.98
22          23  2023-01-23      Tablet  199.99         3              599.97
23          24  2023-01-24  Headphones   99.99         4              399.96
24           5  2023-01-25      Camera  299.99         5             1499.95
25          26  2023-01-26  Smartwatch  249.99         1              249.99
26          27  2023-01-27     Monitor  199.99         2              399.98
27           5  2023-01-28    Keyboard   49.99         3              149.97
28          29  2023-01-29       Mouse   29.99         4              119.96
29          30  2023-01-30     Printer  129.99         5              649.95
30           6  2023-01-31  Smartphone  899.99         1              899.99
31           6  2023-02-01      Laptop  599.99         2             1199.98
32          33  2023-02-02      Tablet  199.99         3              599.97
33          34  2023-02-03  Headphones   99.99         4              399.96
34          35  2023-02-04      Camera  299.99         5             1499.95
35          36  2023-02-05  Smartwatch  249.99         1              249.99
36          37  2023-02-06     Monitor  199.99         2              399.98
37          38  2023-02-07    Keyboard   49.99         3              149.97
38          39  2023-02-08       Mouse   29.99         4              119.96
39          40  2023-02-09     Printer  129.99         5              649.95
40          41  2023-02-10  Smartphone  899.99         1              899.99
41          42  2023-02-11      Laptop  599.99         2             1199.98
42          43  2023-02-12      Tablet  199.99         3              599.97
43           7  2023-02-13  Headphones   99.99         4              399.96
44           8  2023-02-14      Camera  299.99         5             1499.95
45          46  2023-02-15  Smartwatch  249.99         1              249.99
46          47  2023-02-16     Monitor  199.99         2              399.98
47          48  2023-02-17    Keyboard   49.99         3              149.97
48          49  2023-02-18       Mouse   29.99         4              119.96
49          50  2023-02-19     Printer  129.99         5              649.95