In [9]:
import pandas as pd

In [10]:
from sqlalchemy import create_engine

In [11]:
import oracledb

In [12]:
connection = create_engine("oracle+oracledb://C##HR:hr123@localhost:1521/XE")

In [13]:
df = pd.read_sql("select * from customers",connection)

In [14]:
df

   cid    cname       city
0    1   prabhu      gadag
1    2     guru      blore
2    3    shivu  davangere
3    4  shreyas      gadag
4    5    manta    chicago